* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: poppins;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
